version: 2.1
setup: true
orbs:
  continuation: circleci/continuation@0.1.2
  slack: circleci/slack@3.4.2
  jq: circleci/jq@2.2.0
jobs:
  test:
    docker:
      - image: rishabhpoddar/supertokens_flutter_sdk_testing
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - run:
          name: Generate config
          command: cd .circleci && ./generateConfig.sh
      - continuation/continue:
          configuration_path: .circleci/config_continue.yml
  update-docs:
    docker:
      - image: rishabhpoddar/supertokens_flutter_sdk_testing
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - run: cd ../ && git clone git@github.com:supertokens/supertokens-backend-website.git
      - run: dart doc
      - run: (cd .circleci && ./updateDocsInWebsite)
      - slack/status

workflows:
  version: 2
  tagged-build:
    jobs:
      - publish:
          requires:
            - update-docs
          context:
            - slack-notification
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - test:
          context:
            - slack-notification
          filters:
            tags:
              only: /dev-v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
